/*General rules*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6743bc;
}

.app-header {
    background: #111;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 1rem;
}

.create-post {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
}

.post-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

button {
    background: #111;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*for login & register pages*/
.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.auth-card {
    background: #f6f3f3;
    padding: 2rem;
    border-radius: 8px;
    width: 300px;
}

/*for navigation buttons in header*/
.nav{
position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}
.nav a {
    text-decoration: none;
    padding: 6px 14px;
    border-radius: 20px;
    background: #f6f3f3;
    color: #000;
    font-size: 0.9rem;
}